// Home
.home-header {
	background: url(../../../assets/home-image-1.jpg);
	background-size: cover;
	height: 45rem;
	// container
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		height: 100%;
	}
	// title - planted invitation
	.text-container {
		padding: 4rem 0 2rem 8rem;
		position: absolute;
		top: 20rem;
		left: 20%;
		z-index: 10;
	}
	// headerbox
	.image-container {
		position: absolute;
		right: 0;
		bottom: -5rem;
		width: 40rem;
	}
}

// Blog
.blog-header {
	background: url(../../../assets/blog-header-1.jpg);
	background-size: cover;
	height: 30rem;
	// navbar banner
	.banner-wrapper {
		background-color: black;
		width: 100%;
		max-width: none;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		height: 100%;
	}
	.text-container {
		position: absolute;
		top: 13rem;
		padding: 0 0 0 10rem;
	}
	.image-container {
		position: absolute;
		right: 0;
		top: 22rem;
		width: 49.3rem;
		img {
			box-shadow: -1rem 1.2rem $clr-sunny-yellow;
		}
	}
}
