// Home
.home-header {
	background: url(../../../assets/home-image-1.jpg);
	background-size: cover;
	height: 45rem;
	overflow-x: hidden;
	overflow-y: hidden;
	// container
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		height: 100%;
	}
	// title - planted invitation
	.text-container {
		padding: 4rem 0 2rem 8rem;
		position: absolute;
		top: 20rem;
		left: 20%;
		z-index: 10;
	}
	// headerbox
	.image-container {
		position: absolute;
		right: 0;
		bottom: -5rem;
		width: 40rem;
	}
}

// Blog
.blog-header {
	background: url(../../../assets/blog-header-1.jpg);
	background-size: cover;
	height: 30rem;

	// navbar banner
	.banner-wrapper {
		background-color: $clr-darkblack;
		width: 100%;
		max-width: none;
		padding: 0 0 1rem 0rem;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		height: 100%;
	}
	.text-container {
		position: absolute;
		top: 15rem;
		padding: 0 0 0 10rem;
	}
}

// Contact
.contact-header {
	background: url(../../../assets/contact-header-1.jpg);
	background-size: cover;
	height: 30rem;
	// navbar banner
	.banner-wrapper {
		background-color: $clr-darkblack;
		width: 100%;
		max-width: none;
		padding: 0 0 1rem 0rem;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		height: 100%;
	}
	.text-container {
		top: 10rem;
		height: 15rem;
		padding: 0 0 0 10rem;
		h1 {
			width: 20rem;
		}
	}
	.image-container {
		position: absolute;
		right: 0;
		top: 18rem;
		width: 50.7rem;
		img {
			box-shadow: -1rem 1.2rem $clr-sunny-yellow;
		}
	}
}
