@media (max-width: 1500px) {
	// header
	.contact-header {
		height: 25rem;

		// main title
		.text-container {
			padding: 0 0 2rem 0;
			left: 0;
			top: 10rem;
		}

		// nav
		.header-nav {
			padding: 1.5rem 0 0 0;
		}
	}

	// main content
	.contact {
		height: 55rem;

		& > .wrapper {
			flex-direction: column-reverse;
			justify-content: space-evenly;
		}

		.contact-details {
			height: 10rem;
			margin: 0;
			padding: 0;
			flex-basis: 25%;
			text-align: center;
			.socials {
				justify-content: center;
				gap: $gap;
			}
			a {
				padding: 0;
			}
		}
		.contact-form {
			margin: 1rem 0 3rem 0.5rem;
			position: static;
			form {
				width: 100%;
				padding: 1rem;
			}
			.input-wrapper {
				flex-direction: column;
			}
			[type="text"],
			[type="email"] {
				padding: 0 0 1rem 1rem;
			}
			textarea {
				padding: 2rem 0 0 1rem;
			}
		}
	}
}

@media (max-width: 620px) {
	.contact-header {
		overflow: hidden;
		// hide main nav
		.header-nav {
			ul {
				display: none;
			}
		}
		// show slide out nav
		.slide-out-nav-container {
			display: flex;
		}
	}
}

@media (max-width: 320px) {
	.contact-header {
		.slide-out-nav-container {
			display: flex;
			z-index: 30;
			right: 1rem;
		}
	}

	// resize wrappers
	.contact-header .wrapper,
	.contact .wrapper {
		width: 90%;
	}
}
