@media (max-width: 1650px) {
	.events {
		// right container
		li:nth-child(2),
		li:nth-child(3) {
			margin: auto 0;
		}
	}
}

@media (max-width: 1200px) {
	// header
	.home-header {
		// prevent headerbox from overflowing
		overflow-x: clip;

		// main title
		.text-container {
			padding: 4rem 0 2rem 0;
			left: 0;
		}
		// header box
		.image-container {
			width: 28rem;
			right: -8rem;
		}
		// nav
		.header-nav {
			padding: 1.5rem 0 0 0;
		}
	}
	// about
	.home-about {
		padding: 10rem 0 7rem 0;
	}

	// events
	.events {
		.wrapper {
			flex-direction: column;
			align-items: center;
			gap: $gap;
			// text containers
			li:nth-child(2),
			li:nth-child(3) {
				text-align: left;
				padding: 0;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin: 0 0 3rem 0;
			}
			// text container
			li:nth-child(3) {
				order: 4;
			}
			// image container
			li:nth-child(4) {
				order: 3;
			}

			.image-container img {
				top: -2rem;
			}
			.text-container h6 {
				margin: 0;
			}
		}
	}

	// services
	.services {
		padding: 4rem 0 1rem 0;

		ul {
			padding: 0 0 2rem 2rem;
		}
		li {
			flex-basis: 100%;
			padding: 0 0 0 2rem;
		}
		// banner image wrapper
		.image-container {
			width: 100%;
		}
	}

	// founder
	.founder {
		.wrapper {
			flex-direction: column;
			align-items: center;
			padding: 4rem 0;
		}
		.image-container,
		.text-container {
			width: 100%;
		}

		.text-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1rem 0;
		}

		img {
			width: 100%;
		}
	}

	// resize wrappers
	.home-header .wrapper,
	.home-about .wrapper,
	.events .wrapper,
	.services .wrapper,
	.services .wrapper,
	.founder .wrapper,
	.gallery .wrapper {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.gallery {
		.wrapper {
			flex-direction: column;
			align-items: center;
			width: 60%;
			margin: 3rem auto;
		}

		img,
		.image-container {
			width: 100%;
		}
	}
}

@media (max-width: 620px) {
	.home-header {
		height: 40rem;
		h1 {
			@include set-typography($ff-primary, $fw-regular, $fs-675);
		}
		.image-container {
			width: 18rem;
			right: -4rem;
		}
		// hide main nav
		.header-nav {
			ul {
				display: none;
			}
		}
		// show slide out nav
		.slide-out-nav-container {
			display: flex;
			z-index: 30;
		}
	}
}
@media (max-width: 480px) {
	.home-header {
		height: 35rem;
		h1 {
			@include set-typography($ff-primary, $fw-regular, $fs-650);
		}
		.image-container {
			width: 15rem;
			right: -2rem;
		}
		.text-container {
			top: 15rem;
		}
		.slide-out-nav-container {
			padding: 1.5rem 0rem;
		}
	}

	// services
	.services {
		li {
			margin: 0.5rem;
		}
		i {
			left: -1.5rem;
		}
	}

	// resize wrappers
	.home-about .wrapper,
	.events .wrapper,
	.services .wrapper,
	.services .wrapper,
	.founder .wrapper,
	.gallery .wrapper {
		width: 90%;
	}
}

@media (max-width: 360px) {
	.home-header {
		height: 30rem;
		// shrink header to fit smaller screen
		h1 {
			@include set-typography($ff-primary, $fw-regular, $fs-625);
		}
		.text-container {
			top: 10rem;
		}
		.image-container {
			width: 10rem;
			bottom: -3rem;
			right: -1rem;
		}
	}
	.gallery {
		.wrapper {
			gap: 1rem;
			margin: 1rem auto;
		}
	}
}
