@media (max-width: 1780px) {
	.blog-mission {
		.image-container {
			width: 45rem;
			left: 0.5rem;
			top: -30rem;
		}
	}
}

@media (max-width: 1600px) {
	.blog-mission {
		margin: 21rem 0rem 2rem 0;
	}

	.blog {
		.left-wrapper {
			padding: 0 0 0 5rem;
		}
	}
}

@media (max-width: 1400px) {
	// header
	.blog-header {
		height: 25rem;
		overflow-x: hidden;

		// main title
		.text-container {
			padding: 0 0 2rem 0;
			left: 0;
			top: 10rem;
		}
	}

	.blog {
		.left-wrapper {
			padding: 0;
			margin: 0 3rem 0 0;
		}
		.blog-about {
			.wrapper {
				height: auto;
				width: 100%;
			}
			.image-container {
				position: relative;
				width: 22rem;
				left: -1rem;
			}
		}
		.blog-mission {
			margin: 15rem 0 2rem 0;
			.image-container {
				width: 35rem;
				top: -22rem;
			}
		}
	}
	.blog-comments {
		.user-profile {
			gap: 2rem;
		}
	}
}

@media (max-width: 1200px) {
	// nav
	.header-nav {
		padding: 1.5rem 0 0 0;
	}
}

@media (max-width: 1160px) {
	.blog {
		.blog-mission {
			width: 30rem;

			.text-container {
				width: 27rem;
			}
			.image-container {
				width: 30rem;
				top: -18rem;
			}
		}
	}
	.blog-comments {
		.user-profile {
			width: 27rem;
			margin: 0 0 5rem 0;
		}
	}
	.blog-comment-form {
		form {
			width: 100%;
		}
		.input-wrapper {
			display: flex;
			flex-direction: column;
		}
		[type="email"] {
			margin: 1rem 0 2rem 0;
		}
	}
}

@media (max-width: 1000px) {
	.blog {
		.blog-mission {
			width: 100%;
			.text-container {
				width: 23rem;
			}
			.image-container {
				width: 27rem;
				top: -16rem;
			}
		}
	}
}

@media (max-width: 940px) {
	// main content
	.blog {
		height: auto;
		.blog-wrapper {
			flex-direction: column;
			justify-content: flex-start;
			.left-wrapper,
			.right-wrapper {
				flex-basis: auto;
				padding: 0;
				margin: 0;
			}
		}
		.blog-about {
			width: 100%;
			margin: 3rem 0;
			position: relative;
			.wrapper {
				width: 100%;
				justify-content: flex-start;
				height: auto;
			}
			.image-container {
				position: relative;
				left: -1.5rem;
				top: -1.5rem;
				width: 100%;
			}
			.text-container {
				padding: 0 1rem;
				margin: 2rem 0 1rem 0;
			}
		}
		.blog-mission {
			margin: 1rem 0 3rem 0;
			padding: 0;
			position: relative;
			.image-container {
				position: relative;
				top: -1rem;
				left: 0.5rem;
				width: 100%;
			}
			.text-container {
				margin: 3rem 0;
				padding: 0 0 0 2rem;
				width: 100%;
			}
			p {
				margin: 0 0 3rem 0;
			}
		}
		.blog-comments {
			.user-profile {
				margin: 0 0 4rem 0;
				width: 100%;
				display: flex;
				gap: 1rem;
			}
		}
	}
}

@media (max-width: 620px) {
	// prevent overflow
	body {
		overflow-x: hidden;
	}
	// header
	.blog-header {
		.header-nav {
			ul {
				display: none;
			}
		}
		// show slide out nav
		.slide-out-nav-container {
			display: flex;
			z-index: 30;
		}
	}
}

@media (max-width: 480px) {
	.blog-comments {
		.user-profile {
			flex-direction: column;
			margin: 0 0 4rem 0;
		}
	}
}

@media (max-width: 320px) {
	.blog-header {
		.slide-out-nav-container {
			display: flex;
			right: 1rem;
		}
	}

	// resize wrappers
	.blog-header .wrapper,
	.blog .wrapper {
		width: 90%;
	}
}
