// medium desktop
@media (max-width: 1100px) {
	// -----------------
	// Home Page
	// -----------------
	// header
	.home-header {
		// main title
		.text-container {
			padding: 4rem 0 2rem 0;
			left: 0;
		}
		// header box
		.image-container {
			width: 28rem;
		}
		// nav
		.header-nav {
			padding: 1.5rem 0 0 0;
		}
	}
	// about section
	.home-about {
		padding: 10rem 0 7rem 0;
		.wrapper {
			width: 60%;
		}
	}

	// events section
	.events {
		.wrapper {
			width: 60%;
			flex-direction: column;
			align-items: center;
			gap: $gap;
			// text containers
			li:nth-child(2),
			li:nth-child(3) {
				text-align: left;
				padding: 0;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin: 0 0 3rem 0;
			}
			// text container
			li:nth-child(3) {
				order: 4;
			}
			// image container
			li:nth-child(4) {
				order: 3;
			}

			.image-container img {
				top: -2rem;
			}
			.text-container h6 {
				margin: 0;
			}
		}
	}
	// services
	.services {
		padding: 4rem 0 1rem 0;

		.wrapper {
			width: 60%;
		}
		ul {
			padding: 0 0 2rem 2rem;
		}
		li {
			flex-basis: 100%;
			padding: 0 0 0 2rem;
		}
		// banner image wrapper
		.image-container {
			width: 100%;
		}
	}

	// founder
	.founder {
		.wrapper {
			flex-direction: column;
			align-items: center;
			padding: 4rem 0;
			width: 60%;
		}
		.image-container,
		.text-container {
			width: 100%;
		}

		.text-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1rem 0;
		}

		img {
			width: 100%;
		}
	}
}

// Portrait tablet and small desktops
@media (max-width: 940px) {
}

// Landscape phone to portrait tablet
@media (max-width: 768px) {
	.gallery {
		.wrapper {
			flex-direction: column;
			align-items: center;
			width: 60%;
			margin: 3rem auto;
		}

		img,
		.image-container {
			width: 100%;
		}
	}
}

// Landscape phones and down
@media (max-width: 480px) {
}

// Small phones
@media (max-width: 320px) {
}
