// General
.header-nav {
	display: flex;
	flex-direction: row;
	padding: 1.5rem 0 1rem 10rem;
	margin: 0;
	// nav container
	ul {
		display: flex;
		flex-direction: row;
		gap: $gap;
		margin: 0;
	}
	.mobile-menu {
		display: none;
	}
}
