// Header Nav
.header-nav {
	display: flex;
	flex-direction: row;
	padding: 1.5rem 0 0 10rem;
	margin: 0;
	// nav container
	ul {
		display: flex;
		flex-direction: row;
		gap: $gap;
		margin: 0;
	}
	.mobile-menu {
		display: none;
	}
}

// Blog
.blog-header {
	.wrapper {
		max-width: none;
		width: 100%;
	}
	.header-nav {
		background-color: black;
		padding: 1.5rem 0 0 calc(20% + 10rem);
	}
}
