// colors
$clr-black: #2c2c2c;
$clr-darkblack: #000000;
$clr-offwhite: #f0efed;
$clr-forest-green: #074115;
$clr-sunny-yellow: #f8e71c;
$clr-green: #0e902d;
$clr-white: #ffffff;

// font family
$ff-primary: "Josefin Sans", sans-serif;
$ff-secondary: "Roboto", sans-serif;

// font weight
$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;

// font size (px)
$fs-700: 166;
$fs-675: 130;
$fs-650: 100;
$fs-625: 88;
$fs-600: 80;
$fs-500: 56.3;
$fs-400: 43;
$fs-300: 42;
$fs-200: 32;
$fs-150: 25;
$fs-100: 20;

// line height (px)
$lh-200: 92;
$lh-150: 62;
$lh-100: 32;

// letter spacing (px)
$ls-200: 1.3;
$ls-100: 1;

// spacing
$gap: 3rem;
