@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 8.3rem;
  color: #f0efed;
  margin: 0;
}
h1 span {
  color: #f8e71c;
  margin: 5rem 0 0 0;
  display: block;
}

h2,
.blog-header h1,
.contact-header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.6rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.15rem;
  letter-spacing: 0.065rem;
  text-align: center;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.15rem;
  letter-spacing: 0.065rem;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}
h5.comments {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

h6.events, h6.services, h6.blog-about {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}
h6.comment-date {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6rem;
  color: #074115;
}
h6.contact-email {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6rem;
}

.cta-button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: 0.75rem 1.5rem;
}

textarea,
[type=text],
[type=email] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2.15rem;
  color: #f0efed;
  text-decoration: none;
  margin-right: 1rem;
}

.header-nav li a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #f0efed;
  text-transform: uppercase;
  text-decoration: none;
}
.header-nav li a:hover,
.header-nav li a:focus {
  color: #f8e71c;
}

.slide-out-nav a {
  color: white;
  text-decoration: none;
}

.blog-about a {
  color: #074115;
  font-style: italic;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
}

.blog-mission p:nth-child(2) {
  color: #074115;
  font-style: italic;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
.blog-mission p:nth-child(2) span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

ul {
  list-style: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5rem 0 1rem 10rem;
  margin: 0;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  margin: 0;
}

.slide-out-nav-container {
  display: none;
  position: absolute;
  right: 0;
  padding: 1.5rem 0;
  /* slide out nav icon */
  /* slide out menu when checked */
}
.slide-out-nav-container .slide-out-nav {
  position: absolute;
  background-color: #000000;
  border: 1px solid #ffffff;
  top: 5rem;
  padding: 1rem;
  right: -400px;
  gap: 3rem;
  z-index: 0;
}
.slide-out-nav-container .slide-out-nav ul {
  padding: 0;
}
.slide-out-nav-container i {
  color: #ffffff;
  -webkit-transform: scale(3, 2);
          transform: scale(3, 2);
  cursor: pointer;
}
.slide-out-nav-container input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.slide-out-nav-container input[type=checkbox]:checked ~ .slide-out-nav {
  right: -1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* skip link animation */
.skip-link {
  background: #ffffff;
  height: 40px;
  padding: 2rem;
  position: absolute;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.skip-link:focus {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.home-header {
  background: url(../../../assets/home-image-1.jpg);
  background-size: cover;
  height: 45rem;
}
.home-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100%;
}
.home-header .text-container {
  padding: 4rem 0 2rem 8rem;
  position: absolute;
  top: 20rem;
  left: 20%;
  z-index: 10;
}
.home-header .image-container {
  position: absolute;
  right: 0;
  bottom: -5rem;
  width: 40rem;
}

.blog-header {
  background: url(../../../assets/blog-header-1.jpg);
  background-size: cover;
  height: 30rem;
}
.blog-header .banner-wrapper {
  background-color: #000000;
  width: 100%;
  max-width: none;
  padding: 0 0 1rem 0rem;
}
.blog-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100%;
}
.blog-header .text-container {
  position: absolute;
  top: 15rem;
  padding: 0 0 0 10rem;
}

.contact-header {
  background: url(../../../assets/contact-header-1.jpg);
  background-size: cover;
  height: 30rem;
}
.contact-header .banner-wrapper {
  background-color: #000000;
  width: 100%;
  max-width: none;
  padding: 0 0 1rem 0rem;
}
.contact-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100%;
}
.contact-header .text-container {
  top: 10rem;
  padding: 0 0 0 10rem;
}
.contact-header .text-container h1 {
  width: 20rem;
}
.contact-header .image-container {
  position: absolute;
  right: 0;
  top: 18rem;
  width: 50.7rem;
}
.contact-header .image-container img {
  -webkit-box-shadow: -1rem 1.2rem #f8e71c;
          box-shadow: -1rem 1.2rem #f8e71c;
}

.copyright {
  background-color: #2c2c2c;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
  color: #f0efed;
}

.home-about {
  padding: 14rem 0;
  background-color: #f0efed;
}
.home-about .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 57rem;
}
.home-about .wrapper h3 {
  margin: 0;
}
.home-about .wrapper p {
  margin: 2rem 0;
}

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}
.events li {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
}
.events li:nth-child(1) img {
  -webkit-box-shadow: 1rem 1rem #f8e71c;
          box-shadow: 1rem 1rem #f8e71c;
  position: relative;
  top: -1.5rem;
}
.events li:nth-child(2) {
  text-align: left;
  padding: 0 5rem 0 0;
  margin: 7rem 0 0 0;
}
.events li:nth-child(3) {
  text-align: right;
  padding: 0 0 0 5rem;
}
.events li:nth-child(4) img {
  -webkit-box-shadow: -1rem 1rem #f8e71c;
          box-shadow: -1rem 1rem #f8e71c;
  position: relative;
  top: 1.5rem;
}
.events h6 {
  margin: 0;
  padding: 1rem 0 0 0;
}
.events p {
  margin: 2rem 0;
}

.services {
  padding: 10rem 0 1rem 0;
  background-color: #f0efed;
}
.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 0 2rem 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 1rem 2rem;
}
.services h5,
.services h6,
.services p {
  margin: 0;
  padding: 0;
}
.services p {
  margin: 1.5rem 0 1rem 0;
}
.services i {
  background-color: #f8e71c;
  padding: 0.3rem;
  border-radius: 50%;
  position: absolute;
  left: -3.5rem;
  top: -0.2rem;
  -webkit-transform: scale(1.75, 1.75);
          transform: scale(1.75, 1.75);
}

.founder {
  background-color: #f0efed;
}
.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  padding: 5rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.founder .text-container {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.founder img {
  -webkit-box-shadow: 1rem 1rem #f8e71c;
          box-shadow: 1rem 1rem #f8e71c;
  position: relative;
}
.founder h5 {
  margin: 1rem 0 0 0;
}
.founder p {
  margin: 2.8rem 0;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem auto;
  padding: 0;
  gap: 3rem;
}
.gallery li {
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0efed;
}
.blog .blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .blog-wrapper .left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0 0 0 10rem;
}
.blog .blog-wrapper .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 58.5%;
      flex-basis: 58.5%;
}

.blog-about {
  margin: 7rem 0;
}
.blog-about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22rem;
  background-color: #ffffff;
  position: relative;
  height: 49.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.blog-about .text-container {
  padding: 0 3rem 0 1rem;
  margin: 2rem 0;
}
.blog-about .text-container ul {
  padding: 0 0 0 0.5rem;
  margin: 0;
}
.blog-about .text-container li::before {
  content: "•";
  color: #0e902d;
  padding: 0 1rem 0 0;
}
.blog-about .text-container h6 {
  margin: 0 0 1rem 0;
  background-color: inherit;
}
.blog-about .text-container p {
  margin: 0;
}
.blog-about .image-container {
  position: absolute;
  top: -1rem;
  left: -10em;
  width: 31rem;
}

.blog-mission {
  margin: 21rem 7rem 2rem 0;
  padding: 6rem 2rem 2rem 2rem;
  -webkit-box-shadow: -0.5rem 0.5em #f8e71c;
          box-shadow: -0.5rem 0.5em #f8e71c;
  position: relative;
}
.blog-mission h4 {
  margin: 0;
}
.blog-mission p:nth-of-type(1) {
  margin: 0.5rem 0;
}
.blog-mission p:nth-of-type(2) {
  margin: 3rem 0 0 0;
}
.blog-mission .image-container {
  position: absolute;
  right: -7rem;
  top: -34rem;
  width: 50.7rem;
}
.blog-mission .image-container img {
  -webkit-box-shadow: -1rem 1.2rem #f8e71c;
          box-shadow: -1rem 1.2rem #f8e71c;
}

.blog-comments .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 0 0 2rem;
}
.blog-comments h5 {
  margin: 1rem 0 3rem 0;
}
.blog-comments ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-comments ul .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 7rem 5rem 0;
}
.blog-comments ul .user-profile .image-container {
  width: 22rem;
}
.blog-comments ul .user-profile .text-container p {
  margin: 0;
}
.blog-comments ul .user-profile .text-container h6 {
  margin: 0 0 0.5rem 0;
}
.blog-comments ul .user-profile:first-of-type .text-container {
  margin: 0 0 0 2.2rem;
}

.blog-comment-form,
.contact-form {
  margin: 1rem 0 5rem 0.5rem;
}
.blog-comment-form form,
.contact-form form {
  width: calc(100% - 7.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-comment-form form .input-wrapper,
.contact-form form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-comment-form form input[type=text],
.blog-comment-form form input[type=email],
.blog-comment-form form textarea,
.contact-form form input[type=text],
.contact-form form input[type=email],
.contact-form form textarea {
  padding: 0 0 1rem 1.5rem;
  -ms-flex-preferred-size: 46.5%;
      flex-basis: 46.5%;
  margin: 1rem 0;
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #0e902d;
}
.blog-comment-form form textarea,
.contact-form form textarea {
  border: 2px solid #0e902d;
  padding: 2rem 0 0 1.5rem;
}
.blog-comment-form form .cta-button,
.contact-form form .cta-button {
  border: none;
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30rem;
}
.contact .contact-form {
  position: relative;
  top: -13rem;
}
.contact .contact-form form {
  width: 52rem;
  background-color: #ffffff;
  padding: 3rem;
  -webkit-box-shadow: -1rem 2rem #f8e71c;
          box-shadow: -1rem 2rem #f8e71c;
}
.contact .contact-form textarea {
  margin: 2rem 0;
}
.contact .contact-form input[type=text],
.contact .contact-form input[type=email] {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.contact-details {
  margin: 6.5rem 0;
  padding: 0 0 0 10rem;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.contact-details .text-container h6 {
  margin: 0;
}
.contact-details .text-container ul {
  padding: 0;
  margin: 1rem 0;
}
.contact-details .socials {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact-details .socials a {
  padding: 0 1rem 0 0;
}
.contact-details .socials i {
  color: #0e902d;
}

@media (max-width: 1650px) {
  .events li:nth-child(2),
.events li:nth-child(3) {
    margin: auto 0;
  }
}
@media (max-width: 1200px) {
  .home-header {
    overflow-x: clip;
  }
  .home-header .text-container {
    padding: 4rem 0 2rem 0;
    left: 0;
  }
  .home-header .image-container {
    width: 28rem;
    right: -8rem;
  }
  .home-header .header-nav {
    padding: 1.5rem 0 0 0;
  }

  .home-about {
    padding: 10rem 0 7rem 0;
  }

  .events .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  .events .wrapper li:nth-child(2),
.events .wrapper li:nth-child(3) {
    text-align: left;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 3rem 0;
  }
  .events .wrapper li:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .events .wrapper li:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .events .wrapper .image-container img {
    top: -2rem;
  }
  .events .wrapper .text-container h6 {
    margin: 0;
  }

  .services {
    padding: 4rem 0 1rem 0;
  }
  .services ul {
    padding: 0 0 2rem 2rem;
  }
  .services li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 0 0 2rem;
  }
  .services .image-container {
    width: 100%;
  }

  .founder .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 0;
  }
  .founder .image-container,
.founder .text-container {
    width: 100%;
  }
  .founder .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
  .founder img {
    width: 100%;
  }

  .home-header .wrapper,
.home-about .wrapper,
.events .wrapper,
.services .wrapper,
.services .wrapper,
.founder .wrapper,
.gallery .wrapper {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .gallery .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    margin: 3rem auto;
  }
  .gallery img,
.gallery .image-container {
    width: 100%;
  }
}
@media (max-width: 620px) {
  .home-header {
    height: 40rem;
  }
  .home-header h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 6.5rem;
  }
  .home-header .image-container {
    width: 18rem;
    right: -4rem;
  }
  .home-header .header-nav ul {
    display: none;
  }
  .home-header .slide-out-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 30;
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 480px) {
  .home-header {
    height: 35rem;
  }
  .home-header h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 5rem;
  }
  .home-header .image-container {
    width: 15rem;
    right: -2rem;
  }
  .home-header .text-container {
    top: 15rem;
  }

  .services li {
    margin: 0.5rem;
  }
  .services i {
    left: -1.5rem;
  }

  .home-header .wrapper,
.home-about .wrapper,
.events .wrapper,
.services .wrapper,
.services .wrapper,
.founder .wrapper,
.gallery .wrapper {
    width: 90%;
  }
}
@media (max-width: 360px) {
  .home-header {
    height: 30rem;
  }
  .home-header h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 4.4rem;
  }
  .home-header .text-container {
    top: 10rem;
  }
  .home-header .image-container {
    width: 10rem;
    bottom: -3rem;
    right: -1rem;
  }

  .gallery .wrapper {
    gap: 1rem;
    margin: 1rem auto;
  }
}
@media (max-width: 1500px) {
  .blog-header {
    height: 25rem;
  }
  .blog-header .text-container {
    padding: 0 0 2rem 0;
    left: 0;
    top: 10rem;
  }
  .blog-header .header-nav {
    padding: 1.5rem 0 0 0;
  }
  .blog-header .image-container {
    display: none;
  }

  .blog {
    height: 150rem;
  }
  .blog .blog-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog .blog-wrapper .left-wrapper,
.blog .blog-wrapper .right-wrapper {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
  }
  .blog .blog-about > .wrapper {
    width: 100%;
    height: 52rem;
  }
  .blog .blog-about .image-container {
    position: static;
    width: 100%;
  }

  .blog-mission,
.blog-about {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .blog-header .header-nav ul {
    display: none;
  }
  .blog-header .slide-out-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 30;
  }
}
@media (max-width: 320px) {
  .blog-header .slide-out-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 1rem;
  }

  .blog-header .wrapper,
.blog .wrapper {
    width: 90%;
  }
}
@media (max-width: 1500px) {
  .contact-header {
    height: 25rem;
  }
  .contact-header .text-container {
    padding: 0 0 2rem 0;
    left: 0;
    top: 5rem;
  }
  .contact-header .header-nav {
    padding: 1.5rem 0 0 0;
  }

  .contact {
    height: 55rem;
  }
  .contact > .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact .contact-details {
    height: 10rem;
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: center;
  }
  .contact .contact-details .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
  .contact .contact-details a {
    padding: 0;
  }
  .contact .contact-form {
    margin: 1rem 0 3rem 0.5rem;
    position: static;
  }
  .contact .contact-form form {
    width: 100%;
    padding: 1rem;
  }
  .contact .contact-form .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-form [type=text],
.contact .contact-form [type=email] {
    padding: 0 0 1rem 1rem;
  }
  .contact .contact-form textarea {
    padding: 2rem 0 0 1rem;
  }
}
@media (max-width: 640px) {
  .contact-header {
    overflow: hidden;
  }
  .contact-header .header-nav ul {
    display: none;
  }
  .contact-header .slide-out-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 30;
  }
}
@media (max-width: 320px) {
  .contact-header .slide-out-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 1rem;
  }

  .contact-header .wrapper,
.contact .wrapper {
    width: 90%;
  }
}